@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,600&display=swap');

$primaryFontFamily: 'Poppins', sans-serif;
$primaryFontSize: 14px;

$primaryFontColor: #333333;
$inverseFontColor: #cecece;
$primaryColor: #3d5a80;
$primaryDarkColor: #293241;
$primaryLightColor:#98c1d9;

$warningColor: #f7d36f;
$errorColor: #f76f6f;
$successColor: #6ff77a;

$borderColor: rgb(212, 212, 212);
$shadowColor: #0000002c;

$borderRadius: 8px;